<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div className="container">
  <center><h1>MI CARNER ES 201800580</h1></center>
    <form className="form-group">
      <h4>Componente para la prueba 1</h4>
      <input
        placeholder="Introduce el nombre"
        className="form-control mb-3"
        type="text"
        name = "nombre"  
      />
      <input
        placeholder="Introduce la edad"
        className="form-control mb-3"
        type="text"
        name="edad"
      />
      <input className="btn btn-info btn-block mb-2 mx-auto" type="submit" name="b1" value ="Enviar Edad y nombre" />
    </form>
  </div>

  <div className="container">
    <form  className="form-group">
      <h4>Componente para la prueba 2</h4>
      <input
        placeholder="Introduce el correo"
        className="form-control mb-3"
        type="text"
        name = "correo" 
      />
      <textarea
        placeholder="Introduce la Mensaje al Foro"
        className="form-control mb-3"
        type="textarea"
        name="mensajeforo"
      ></textarea>
      <input className="btn btn-info btn-block mb-2 mx-auto" type="submit" name="b2" value ="Enviar mensajeforo y correo" />
    </form>
  </div>